{% extends 'base.htm' %}
{% load static %}

{% block nav_accessories %}active{% endblock %}

{% block title %}لوازم جانبی | {{ accessories.0.category.name }}{% endblock %}

{% block content %}
<br>
    <div class="row">
        <div class="col-lg-12">
            <div class="row justify-content-md-center">
                <div class="col-md-8 card">
                    <div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h6>ترتیب</h6>
                            </div>
                        </div>
                        <br>
                        <form>
                        <select class="custom-select custom-select-sm mb-3" form="filter-form" name="sort-by" id="sort-by">
                            <option value="high-low">قیمت از زیاد به کم</option>
                            <option value="low-high">قیمت از کم به زیاد</option>
                            <option value="popularity">محبوبیت</option>
                            <option value="new" selected>جدیدترین</option>
                        </select>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h6>رنج قیمت</h6>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-md-12 form-group">
                                <div class="form-row justify-content-center">
                                    <div class="col">
                                        <label for="from">تا <small>(تومان)</small></label>
                                        <input type="number" class="form-control mb-2 mr-sm-2" name="max" id="max">
                                    </div>
                                    <div class="col">
                                        <label for="to">از <small>(تومان)</small></label>
                                        <input class="form-control mb-2 mr-sm-2" type="number" name="min" id="min">
                                    </div>
                                </div>
                                <br>
                                <div class="form-row justify-content-center">
                                    <button type="submit" class="btn btn-secondary">اعمال</button>
                                </div>
                            </div>
                        </form>
                        </div>

                    </div>
                    <br>
                </div>
            </div>
            <br>
            <div class="row"><div class="col">
            {% if not accessories %}
                <h4 class="text-center">لوازمی با این رنج قیمت موجود نیست</h4>
            {% endif %}

            {% for accessory in accessories %}
            {% cycle '<div class="row">' '' '' %}

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                    <a href="/accessory/{{ accessory.id }}"><div id="carousel-{{ accessory.id }}" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for image in accessory.images.all %}
                                <li data-target="#carousel-{{ accessory.id }}" data-slide-to="{{ forloop.counter }}" {% if forloop.counter == 1 %} class="active" {% endif %}></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            {% for image in accessory.images.all %}
                            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                                <img class="d-block img-fluid" src="{{ image.image.url }}" alt="{{ image.description }}">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carousel-{{ accessory.id }}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-{{ accessory.id }}" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div></a>
                    <div class="card-body">
                        <h6 class="card-title">
                        <a href="/accessory/{{ accessory.id }}">{{ accessory.name }} {{ accessory.company.name }}</a>
                        </h6>
                        {% if accessory.price == 0 %} <h6 style="font-size: 80%;">قیمتی برای این محصول موجود نمی‌باشد</h6> {% else %}<h6>{{ accessory.formatted_price }} :قیمت</h6> {% endif %}
                        <p class="card-text">{{ accessory.description }}</p>
                    </div>
                    </div>
                </div>
                {% if forloop.last %}
                    </div>
                {% else %}
                    {% cycle '' '' '</div>' %}
                {% endif %}
            {% endfor %}
            <!-- /.row -->
            {% if bikes.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if bikes.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ bikes.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                {% endif %}
                {% for i in bikes.paginator.page_range %}
                    <li {% if i == bikes.number %} class="active page-item" {% else %} class="page-item" {% endif %}><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endfor %}
                {% if bikes.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ bikes.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled page-item"><a class="page-link" href="#">&raquo;</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
    </div>
    <!-- /.col-lg-9 -->
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}