{% extends 'base.htm' %}
{% load static %}

{% block nav_accessories %}active{% endblock %}

{% block title %}لوازم جانبی | انتخاب دسته‌بندی{% endblock %}
{% block content %}
    {% for category in categories %}
        {% cycle '<div class="card-deck justify-content-center">' '' '' %}
                <div class="card" style="max-width: 25rem;">
                    <a href="{{ category.id }}">
                        <img class="card-img-top" src="{{ category.image.image.url }}" alt="{{ category.name }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ category.name }}</h5>
                        {% if category.description %}
                            <p class="card-text">{{ category.description }}</p>
                        {% endif %}
                    </div>
                </div>
        {% if forloop.last %}
            </div><br>
        {% else %}
            {% cycle '' '' '</div><br>' %}
        {% endif %}

    {% endfor %}
{% endblock %}