{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="کوهستان چرخ فیروزیان">
    <meta name="author" content="Mehrshad Firouzian">

    <title>{% block title %} {% endblock %}</title>

    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- CREDIT: https://github.com/StartBootstrap/startbootstrap-shop-homepage -->

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">کوهستان چرخ فیروزیان</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% block nav_bicycle %}{% endblock %}">
                        <a class="nav-link" href="/">دوچرخه</a>
                    </li>
                    <li class="nav-item {% block nav_accessories %}{% endblock %}">
                        <a class="nav-link" href="/accessories/select-category">لوازم جانبی</a>
                    </li>
                    <li class="nav-item {% block nav_components %}{% endblock %}">
                        <a class="nav-link" href="/components/select-category">قطعات</a>
                    </li>
                    <li class="nav-item {% block nav_contact_us %}{% endblock %}">
                        <a class="nav-link" href="#">ارتباط با ما</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
    </footer>

    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
    {% block scripts %}
    {% endblock %}

</body>

</html>
