{% extends 'base.htm' %}
{% load static %}

{% block title %} {{ bike.model_name }} {{ bike.brand }} {% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div id="Carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for image in bike.images.all %}
                    <li data-target="#Carousel" data-slide-to="{{ forloop.counter|add:-1 }}" {% if forloop.counter == 1 %} class="active" {% endif %}></li>
                {% endfor %}
            </ol>

            <div class="carousel-inner">
                {% for image in bike.images.all %}
                    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                        <img src="{{ image.image.url }}" alt="{{ image.description }}" style="width:100%;">
                    </div>
                {% endfor %}
            </div>

            <a class="carousel-control-prev" href="#Carousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next"" href="#Carousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row card">
            <br>
            <div class="col-md-12">
                <ul class="nav nav-tabs" style="float: right;">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#specifics">مشخصات کلی</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#components">قطعات</a>
                    </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane container active" id="specifics" style="float: right;">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>{{ bike.brand.name }}</td>
                                    <th>شرکت سازنده</th>
                                </tr>
                                <tr>
                                    <td>{{ bike.brand.origin_country.name }}</td>
                                    <th>مبدأ شرکت سازنده</th>
                                </tr>
                                <tr>
                                    <td>{{ bike.model_name }}</td>
                                    <th>مدل دوچرخه</th>
                                </tr>
                                <tr>
                                    {% if bike.price == 0 %}
                                    <td>برای دریافت قیمت <a href="/contant-us">تماس بگیرید</a></td>
                                    {% else %}
                                    <td>{{ bike.formatted_price }}</td>
                                    {% endif %}
                                    <th>قیمت <small>(تومان)</small></th>
                                </tr>
                                <tr>
                                    <td>{{ bike.sizes.size }}</td>
                                    <th>سایز</th>
                                </tr>
                                <tr>
                                    <td>{{ bike.formatted_categories }}</td>
                                    <th>دسته بندی ها</th>
                                </tr>
                                <tr>
                                    <td>{{ bike.formatted_accessories|safe }}</td>
                                    <th>اقلام همراه</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane container fade" id="components" style="float: right;">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table">
                                    <tbody>
                                        {% if bike.fork %}
                                        <tr>
                                            <td><a href="/component/{{ bike.fork.id }}">{{ bike.fork }}</a></td>
                                            <th>دوشاخ</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.shock %}
                                        <tr>
                                            <td><a href="/component/{{ bike.shock.id }}">{{ bike.shock }}</a></td>
                                            <th>فنر وسط</th>                            
                                        </tr>
                                        {% endif %}
                                        {% if bike.handlebar %}
                                        <tr>
                                            <td><a href="/component/{{ bike.handlebar.id }}">{{ bike.handlebar }}</a></td>
                                            <th>دسته فرمان</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.stem %}
                                        <tr>
                                            <td><a href="/component/{{ bike.stem.id }}">{{ bike.stem }}</a></td>
                                            <th>کرپی فرمان</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.seatpost %}
                                        <tr>
                                            <td><a href="/component/{{ bike.seatpost.id }}">{{ bike.seatpost }}</a></td>
                                            <th>لوله زین</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.saddle %}
                                        <tr>
                                            <td><a href="/component/{{ bike.saddle.id }}">{{ bike.saddle }}</a></td>
                                            <th>زین</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.pedals %}
                                        <tr>
                                            <td><a href="/component/{{ bike.pedals.id }}">{{ bike.pedals }}</a></td>
                                            <th>رکاب</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.shifters %}
                                        <tr>
                                            <td><a href="/component/{{ bike.shifters.id }}">{{ bike.shifters }}</a></td>
                                            <th>دسته دنده</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.front_derailleur %}
                                        <tr>
                                            <td><a href="/component/{{ bike.front_derailleur.id }}">{{ bike.front_derailleur }}</a></td>
                                            <th>طبق عوض کن</th>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table">
                                    <tbody>
                                        {% if bike.rear_derailleur %}
                                        <tr>
                                            <td><a href="/component/{{ bike.rear_derailleur.id }}">{{ bike.rear_derailleur }}</a></td>
                                            <th>شانژمان</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.brakes %}
                                        <tr>
                                            <td><a href="/component/{{ bike.brakes.id }}">{{ bike.brakes }}</a></td>
                                            <th>ترمز</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.cassette %}
                                        <tr>
                                            <td><a href="/component/{{ bike.cassette.id }}">{{ bike.cassette }}</a></td>
                                            <th>خودرو</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.chain %}
                                        <tr>
                                            <td><a href="/component/{{ bike.chain.id }}">{{ bike.chain }}</a></td>
                                            <th>زنجیر</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.crankset %}
                                        <tr>
                                            <td><a href="/component/{{ bike.crankset.id }}">{{ bike.crankset }}</a></td>
                                            <th>طبق قامه</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.rims %}
                                        <tr>
                                            <td><a href="/component/{{ bike.rims.id }}">{{ bike.rims }}</a></td>
                                            <th>طوقه</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.hubs %}
                                        <tr>
                                            <td><a href="/component/{{ bike.hubs.id }}">{{ bike.hubs }}</a></td>
                                            <th>توپی</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.tires %}
                                        <tr>
                                            <td><a href="/component/{{ bike.tires.id }}">{{ bike.tires }}</a></td>
                                            <th>تایر</th>
                                        </tr>
                                        {% endif %}
                                        {% if bike.weight %}
                                        <tr>
                                            <td><a href="#">{{ bike.weight }}</a></td>
                                            <th>وزن <small>(گرم)</small></th>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>  
        </div>
    </div>
</div>
{% endblock %}