{% extends 'base.htm' %}

{% block title %}{{ component.name }} {{ component.brand.name }}{% endblock title %}


{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div id="Carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for image in component.images.all %}
                    <li data-target="#Carousel" data-slide-to="{{ forloop.counter|add:-1 }}" {% if forloop.counter == 1 %} class="active" {% endif %}></li>
                {% endfor %}
            </ol>

            <div class="carousel-inner">
                {% for image in component.images.all %}
                    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                        <img src="{{ image.image.url }}" alt="{{ image.description }}" style="width:100%;">
                    </div>
                {% endfor %}
            </div>

            <a class="carousel-control-prev" href="#Carousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next"" href="#Carousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row card">
            <br>
            <div class="col-md-12">
                <div class="tab-content">
                    <div class="tab-pane container active" id="specifics" style="float: right;">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>{{ component.name }}</td>
                                    <th>نام قطعه</th>
                                </tr>
                                {% if component.brand.name %}
                                <tr>
                                    <td>{{ component.brand.name }}</td>
                                    <th>شرکت سازنده</th>
                                </tr>
                                <tr>
                                    <td>{{ component.brand.origin_country.name }}</td>
                                    <th>مبدأ شرکت سازنده</th>
                                </tr>
                                {% endif %}
                                <tr>
                                    {% if component.price == 0 %}
                                    <td>برای دریافت قیمت <a href="/contant-us">تماس بگیرید</a></td>
                                    {% else %}
                                    <td>{{ component.formatted_price }}</td>
                                    {% endif %}
                                    <th>قیمت <small>(تومان)</small></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>  
        </div>
    </div>
</div>
</div>
<br>
{% endblock %}