{% extends 'base.htm' %}
{% load static %}

{% block title %} فروشگاه | دوچرخه {% endblock %}

{% block nav_bicycle %} active {% endblock %}
    {% block content %}
    <br>
        <div class="row">
            <div class="col-lg-9">
                <div class="row justify-content-md-center">
                    <div class="col-md-8 card">
                        <div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>ترتیب</h6>
                                </div>
                            </div>
                            <br>
                            <select class="custom-select custom-select-sm mb-3" form="filter-form" name="sort-by" id="sort-by">
                                <option value="high-low">قیمت از زیاد به کم</option>
                                <option value="low-high">قیمت از کم به زیاد</option>
                                <option value="popularity">محبوبیت</option>
                                <option value="new" selected>جدیدترین</option>
                            </select>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <h6>رنج قیمت</h6>
                                </div>
                            </div>
                            <br>
                            <div class="row justify-content-center">
                                <div class="col-md-12 form-group">
                                    <div class="form-row justify-content-center">
                                        <div class="col">
                                            <label for="from">تا <small>(تومان)</small></label>
                                            <input type="number" class="form-control mb-2 mr-sm-2" name="max" id="max" form="filter-form">
                                        </div>
                                        <div class="col">
                                            <label for="to">از <small>(تومان)</small></label>
                                            <input class="form-control mb-2 mr-sm-2" type="number" name="min" id="min" form="filter-form">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-row justify-content-center">
                                        <button type="submit" class="btn btn-secondary" form="filter-form">اعمال</button>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                        <br>
                    </div>
                </div>
                <br>
                <div class="row"><div class="col">
                {% if not bikes %}
                    <h4 class="text-center">دوچرخه ای یافت نشد</h4>
                {% endif %}

                {% for bike in bikes %}
                {% cycle '<div class="row">' '' '' %}

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                        <a href="bicycle/{{ bike.id }}"><div id="carousel-{{ bike.id }}" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for image in bike.images.all %}
                                    <li data-target="#carousel-{{ bike.id }}" data-slide-to="{{ forloop.counter }}" {% if forloop.counter == 1 %} class="active" {% endif %}></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                {% for image in bike.images.all %}
                                <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                                    <img class="d-block img-fluid" src="{{ image.image.url }}" alt="{{ image.description }}">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carousel-{{ bike.id }}" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-{{ bike.id }}" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div></a>
                        <div class="card-body">
                            <h6 class="card-title">
                            <a href="bicycle/{{ bike.id }}">{{ bike.model_name }} {{ bike.brand.name }}</a>
                            </h6>
                            {% if bike.price == 0 %} <h6 style="font-size: 80%;">قیمتی برای این محصول موجود نمی‌باشد</h6> {% else %}<h6>{{ bike.formatted_price }} :قیمت</h6> {% endif %}
                            <p class="card-text">{{ bike.description }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                        </div>
                    </div>
                    {% if forloop.last %}
                        </div>
                    {% else %}
                        {% cycle '' '' '</div>' %}
                    {% endif %}
                {% endfor %}
                <!-- /.row -->
                {% if bikes.has_other_pages %}
                <ul class="pagination justify-content-center">
                    {% if bikes.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ bikes.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                    {% endif %}
                    {% for i in bikes.paginator.page_range %}
                        <li {% if i == bikes.number %} class="active page-item" {% else %} class="page-item" {% endif %}><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if bikes.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ bikes.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled page-item"><a class="page-link" href="#">&raquo;</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
            </div>
        <!-- /.col-lg-9 -->
        <div class="col-lg-3">
            <form id="filter-form">
            <div class="row card">
                <div class="col-md-12">
                    <br>
                    <div class="row text-center" data-toggle="collapse" data-target="#brand-collapse" aria-expanded="true" aria-controls="brand-collapse"><div class="col-md-12"><h6>انتخاب برند</h6></div></div>
                    <div class="collapse" id="brand-collapse" data-parent="#filter-form">
                        <hr>
                        <input class="form-control" id="brand-search" type="text" placeholder="جست و جوی برند" style="text-align: right;">
                        <hr>
                        <div id="brands" style="overflow: scroll; overflow-x: hidden; height: 200px;" class="container">    
                            {% for brand in brands %}
                                <div class="checkbox">
                                    <label for="checkbox-{{ brand.id }}"><input type="checkbox" id="checkbox-{{ brand.id }}" name='brand-{{ brand.id }}'> {{ brand.name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <div class="row card">
                <div class="col-md-12">
                <br>
                <div class="row text-center" data-toggle="collapse" data-target="#colors-collapse" aria-expanded="true" aria-controls="colors-collapse"><div class="col-md-12"><h6>انتخاب رنگ</h6></div></div>
                    <div class="row collapse" id="colors-collapse" data-parent="#filter-form">
                        <div class="col-md-12">
                            <hr>
                            <div style="overflow: scroll; overflow-x: hidden; height: 150px;" class="container">    
                                {% for color in colors %}
                                <div class="checkbox">
                                    <label for="checkbox-color-{{ color.id }}"><input type="checkbox" id="checkbox-color-{{ color.id }}" name='color-{{ color.id }}'> {{ color.color }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <div class="row card">
                <div class="col-md-12">
                <br>
                <div class="row text-center" data-toggle="collapse" data-target="#gear-collapse" aria-expanded="true" aria-controls="gear-collapse"><div class="col-md-12"><h6>تعداد دنده</h6></div></div>
                    <div class="row collapse" id="gear-collapse" data-parent="#filter-form">
                        <div class="col-md-12">
                            <hr>
                            <div style="overflow: scroll; overflow-x: hidden; height: 150px;" class="container">    
                                {% for gear in gears %}
                                <div class="checkbox">
                                    <label for="checkbox-gears-{{ gear }}"><input type="checkbox" id="checkbox-gear-{{ gear }}" name='gear-{{ gear }}'> {{ gear }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <div class="row card">
                <div class="col-md-12">
                <br>
                <div class="row text-center" data-toggle="collapse" data-target="#size-collapse" aria-expanded="true" aria-controls="size-collapse"><div class="col-md-12"><h6>انتخاب سایز</h6></div></div>
                    <div class="row collapse" id="size-collapse" data-parent="#filter-form">
                        <div class="col-md-12">
                            <hr>
                            <div style="overflow: scroll; overflow-x: hidden; height: 150px;" class="container">    
                                {% for size in sizes %}
                                <div class="checkbox">
                                    <label for="checkbox-sizes-{{ size }}"><input type="checkbox" id="checkbox-sizes-{{ size }}" name='size-{{ size }}'> {{ size }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <div class="row card">
                <div class="col-md-12">
                <br>
                <div class="row text-center" data-toggle="collapse" data-target="#type-collapse" aria-expanded="true" aria-controls="type-collapse"><div class="col-md-12"><h6>دسته بندی</h6></div></div>
                    <div class="row collapse" id="type-collapse" data-parent="#filter-form">
                        <div class="col-md-12">
                            <hr>
                            <div style="overflow: scroll; overflow-x: hidden; height: 150px;" class="container">    
                                {% for type in types %}
                                <div class="checkbox">
                                    <label for="checkbox-types-{{ type }}"><input type="checkbox" id="checkbox-types-{{ type }}" name='type-{{ type }}'> {{ type }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            </form>
            <br>
        </div>
    </div>

    {% endblock %}

    {% block scripts %}
        <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}